


li {
    list-style-type: circle ;
    margin-left: 3rem;
}

.about__container {
    display: grid;
    grid-template-columns:40vw 40vw 40vw 40vw 40vw 40vw;
    height: 70vh;
    width: var(--width-3screens);
    
    overflow-x: scroll;
}

.about__me {
    padding-top: 3rem;
}

.about__me_pic {
    display: flex;
    border-radius: 10%;
    transform: rotate(10deg);
    height: 55vh;
    width: fit-content;
}

.about__me_pic:hover {
    transform: rotate(0deg);
    scroll-behavior: smooth;
}