


li {
    list-style-type: circle ;
    margin-left: 3rem;
}

.about__container {
    display: grid;
    grid-template-columns: 45% 35%;
    gap: 10%;
}

.about__me {
    padding-top: 3rem;
}

.about__me_pic {
    display: flex;
    border-radius: 10%;
    transform: rotate(10deg);
}

.about__me_pic:hover {
    transform: rotate(0deg);
    scroll-behavior: smooth;
}