.navigation {
    background: rgba(0,0,0,0.3);
    display: block;
    width: max-content;
    align-items: center;
    z-index: 3;
    position: fixed;
    
    padding: 0.7rem 1.7rem;
    left: calc(50% - 139.19px);
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
}

.navigation a {
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;

}

.navigation a:hover {
    background: rgba(0,0,0,0.4);
}

.navigation a.active {
    background: var(--color-bg);
    color: var(--color-primary);
    border: 1px dotted var(--color-primary);
}